build/index.html
<!DOCTYPE html>
<html lang="">
  <head>
    <link rel="shortcut icon" href="http://polskij.ru/wp-content/themes/polskij/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="http://polskij.ru/wp-content/themes/polskij/images/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Станислав Карпенок | Профессиональный переводчик польского языка</title>
    <link rel="stylesheet" href="css/polskij-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/js-polskij.js"></script>
  </head>
  <body>
    <header>
      <div class="wrapper">
        <div class="menu-mobile">
          <ul class="lang">
            <li><span>Ru</span></li>
            <li><a href="http://polskij.ru/en/">En</a></li>
            <li><a href="http://polskij.ru/pl/">Pl</a></li>
          </ul>
          <div class="menu-icon js-menu-mobile"></div>
        </div>
        <div class="header-info"><a href="http://polskij.ru/">
            <h2>Станислав Карпенок</h2>
            <h1>Переводчик</h1></a></div>
      </div>
    </header>
    <div class="main-info">
      <div class="wrapper">
        <div class="main-info__content">
          <div class="main-info__img"><img src="img/middle.png" alt=""></div>
          <div class="main-info__item">
            <h3>Высокое качество перевода</h3>
            <p>Лингвистическое образование, стажировки в Польше. Большой опыт работы. Ответственность и аккуратность.</p>
          </div>
          <div class="main-info__item">
            <h3>Широкий спектр переводческих услуг</h3>
            <p>Письменные переводы, устный последовательный перевод, синхронный перевод.</p>
          </div>
          <div class="main-info__item">
            <h3>Конфиденциальность, порядочность</h3>
            <p>Содержание переводимых документов не разглашается.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="page-info">
      <div class="wrapper">
        <div class="page-info__content">
          <aside>
            <div class="menu-mobile-close js-menu-mobile-close"></div>
            <ul class="lang">
              <li><span>Ru</span></li>
              <li><a href="http://polskij.ru/en/">En</a></li>
              <li><a href="http://polskij.ru/pl/">Pl</a></li>
            </ul>
            <nav class="menu"><a class="active" href="http://polskij.ru/ru/">Главная</a><a href="http://polskij.ru/ru/services/">Предложение</a><a href="http://polskij.ru/ru/references/">Рекомендации</a><a href="http://polskij.ru/ru/price/">Стоимость</a><a href="http://polskij.ru/ru/interesting/">Интересные факты</a><a href="http://polskij.ru/ru/contacts/">Контактная информация</a></nav>
            <div class="menu-banner"><a href="http://www.gazetapetersburska.org/" target="_blank"><img src="http://gazetapetersburska.org/wp/wp-content/uploads/2018/04/logo_gazeta-20.png" border="0" width="114"></a></div>
          </aside>
          <div class="page-info__text">
            <h2>Профессиональный переводчик польского языка</h2><a href="http://polskij.ru/wp-content/uploads/Karp_web.jpg"><img src="img/karp_web.jpg" alt=""></a>
            <p>Вам нужен письменный или устный перевод с&nbsp;польского на русский высокого качества? Вы не хотите платить посредникам? Вам необходим профессиональный <a title="ЦЕНЫ" href="http://polskij.ru/ru/price/">перевод по разумной цене?</a>&nbsp; Вы&nbsp;ищете опытного переводчика с польского для переговоров с&nbsp;зарубежными партнерами? Вы&nbsp;зашли на&nbsp;нужный сайт! Я профессиональный переводчик польского языка, <strong>20 лет занимаюсь письменными и устными переводами с польского</strong>.&nbsp;Зарегистрирован в качестве индивидуального предпринимателя.</p>
            <p>Получил высшее лингвистическое образование в Польше (магистр польской филологии). <a title="Член Союза переводчиков России" href="http://www.utr.spb.ru/members/Karpionok.htm">Член Союза переводчиков России</a>, получил награду «За заслуги перед польской культурой». <a title="Proz.com" href="http://www.proz.com/translator/26902">Сертифицированный переводчик</a> (Certified PRO) в паре польский-русский на сайте Proz.com – крупнейшем в мире сообществе переводчиков. Накопленный профессиональный опыт позволяет переводить с польского языка как личные документы, так и сложную техническую документацию.&nbsp;Имеется большой опыт перевода специализированных текстов с польского языка, созданы глоссарии терминов по различным тематикам. Выполняю <strong>перевод сайтов и презентаций,&nbsp; </strong>осуществляю локализацию&nbsp;<strong>программного обеспечения</strong>.</p>
            <p>Также предлагаю <strong>устный перевод с польского </strong>(последовательный, синхронный, шушутаж) на деловых переговорах и семинарах, производственных предприятиях («Филип Моррис Ижора»), международных конференциях и презентациях, тренингах, круглых столах, выставках, двусторонних переговорах на уровне <a href="http://polskij.ru/wp-content/uploads/АСМАП.jpg" target="_blank" rel="noopener">правительственных делегаций России и Польши</a>. Выполнял синхронный перевод на Санкт-Петербургском международном культурном форуме, во время спектакля польского театра «Враг народа» в театре «Балтийский дом».</p>
            <p>Использую программы Trados Studio 2017, Memsource, memoQ и т.п., повышающие эффективность работы и гарантирующие <strong>единство терминологии</strong>. Поддерживаю&nbsp;постоянные контакты с носителями языка, совершенствуя знание польского языка. В случае сложных технических текстов консультируюсь с экспертами. Имеется опыт переводов для следственных органов и ФСБ России (перевод с польского и на польский материалов уголовных дел, запросов о правовой помощи).</p>
            <p><strong>Литературный перевод с польского языка:</strong>в издательстве «Речь» в моем переводе с польского языка вышла серия юмористических детективов о детективе Позитивке для старших дошкольников, которую придумал&nbsp;Гжегож Каздепке.&nbsp; Всего за время моей профессиональной деятельности перевел с польского языка 14 книг различной тематики, еще 5&nbsp;– в соавторстве с другими переводчиками.</p>
            <p><strong>Как заказать перевод с польского языка на русский?</strong>Просто <a title="перевод с польского языка" href="http://polskij.ru/ru/contacts/">напишите мне</a>&nbsp;и узнайте <a title="перевод с польского" href="http://polskij.ru/ru/price/">стоимость перевода</a>, которая вас приятно удивит.</p>
            <p><strong>С примерами переводов с польского языка и отзывами клиентов</strong>можно ознакомиться на моем профиле на <a title="Переводчик польского на Proz.com" href="http://www.proz.com/translator/26902" target="_blank" rel="noopener">Proz.com</a>.</p>
            <p>Среди моих клиентов — компании,&nbsp;бюро переводов и частные лица в России и за рубежом: <a title="Александринский театр" href="http://polskij.ru/wp-content/uploads/Письмо-для-Станислава.jpg" target="_blank" rel="noopener">Александринский театр</a>, <a title="Театр Карлсон-Хаус" href=" http://polskij.ru/wp-content/uploads/Карлсон-Хаус.jpg" target="_blank" rel="noopener"> Театр Карлсон-Хаус</a>, «ЭГО Транслейтинг», онлайн-сервис по продаже авиабилетов OneTwoTrip, «Эктако», «Фларус», Janus Worldwide, «Транстех», ABBYY LS/«Трактат», «КейДжиТиСи», «Фонетикс», «Да Винчи», «All Correct», «Экспримо», «Русская переводческая компания», «Прима Виста», ЗАО «ВАГОНМАШ», издательство «Речь», издательство Macha Publishing (проект «Рыбалка. Энциклопедия рыболова»), «Газпром», Exide Technologies, Jakusz, крупнейший производитель крепежа в Польше RAWLPLUG S.A., MOVITECH и многие другие.</p>
            <p><strong><a title="тематика переводов с польского" href="http://polskij.ru/ru/services/">Широкая тематика переводов с польского языка — от диплома о высшем образовании до сайта компании</a></strong></p>
            <p><strong><em>&copy; Станислав Карпенок, переводчик польского языка. Тел. +7921 916-46-41, e-mail:&nbsp;<a href="mailto:karpionok@gmail.com">karpionok@gmail.com</a></em></strong></p>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="wrapper">
        <div class="footer-copyright">
          <p>&copy; 2010–2019 Дизайн и разработка&nbsp;—<a href="https://shweb.pro/" target="_blank">Studio Shweb</a></p>
        </div>
      </div>
    </footer>
  </body>
</html>

src/pug/index.pug
doctype
html(lang="")
	head
		link(rel="shortcut icon" href="http://polskij.ru/wp-content/themes/polskij/images/favicon.ico" type="image/x-icon")
		link(rel="icon" href="http://polskij.ru/wp-content/themes/polskij/images/favicon.ico" type="image/x-icon")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Станислав Карпенок | Профессиональный переводчик польского языка
		link(rel="stylesheet" href="css/polskij-style.css")


		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		script(src="js/js-polskij.js")

	body
		header
			.wrapper
				.menu-mobile
					ul.lang
						li
							span Ru
						li
							a(href="http://polskij.ru/en/") En
						li
							a(href="http://polskij.ru/pl/") Pl
					.menu-icon.js-menu-mobile
				.header-info
					a(href="http://polskij.ru/")
						h2 Станислав Карпенок
						h1 Переводчик

		.main-info
			.wrapper
				.main-info__content
					.main-info__img
						img(src="img/middle.png" alt="")
					.main-info__item
						h3 Высокое качество перевода
						p Лингвистическое образование, стажировки в Польше. Большой опыт работы. Ответственность и аккуратность.
					.main-info__item
						h3 Широкий спектр переводческих услуг
						p Письменные переводы, устный последовательный перевод, синхронный перевод.
					.main-info__item
						h3 Конфиденциальность, порядочность
						p Содержание переводимых документов не разглашается.

		.page-info
			.wrapper
				.page-info__content
					aside
						.menu-mobile-close.js-menu-mobile-close
						ul.lang
							li
								span Ru
							li
								a(href="http://polskij.ru/en/") En
							li
								a(href="http://polskij.ru/pl/") Pl
						nav.menu
							a(href="http://polskij.ru/ru/" class="active") Главная
							a(href="http://polskij.ru/ru/services/") Предложение
							a(href="http://polskij.ru/ru/references/") Рекомендации
							a(href="http://polskij.ru/ru/price/") Стоимость
							a(href="http://polskij.ru/ru/interesting/") Интересные факты
							a(href="http://polskij.ru/ru/contacts/") Контактная информация

						.menu-banner
							a(href="http://www.gazetapetersburska.org/" target="_blank")
								img(src="http://gazetapetersburska.org/wp/wp-content/uploads/2018/04/logo_gazeta-20.png" border="0" width="114")

					.page-info__text
						h2 Профессиональный переводчик польского языка
						a(href="http://polskij.ru/wp-content/uploads/Karp_web.jpg")
							img(src="img/karp_web.jpg" alt="")
						p Вам нужен письменный или устный перевод с&nbsp;польского на русский высокого качества? Вы не хотите платить посредникам? Вам необходим профессиональный <a title="ЦЕНЫ" href="http://polskij.ru/ru/price/">перевод по разумной цене?</a>&nbsp; Вы&nbsp;ищете опытного переводчика с польского для переговоров с&nbsp;зарубежными партнерами? Вы&nbsp;зашли на&nbsp;нужный сайт! Я профессиональный переводчик польского языка, <strong>20 лет занимаюсь письменными и устными переводами с польского</strong>.&nbsp;Зарегистрирован в качестве индивидуального предпринимателя.
						p Получил высшее лингвистическое образование в Польше (магистр польской филологии). <a title="Член Союза переводчиков России" href="http://www.utr.spb.ru/members/Karpionok.htm">Член Союза переводчиков России</a>, получил награду «За заслуги перед польской культурой». <a title="Proz.com" href="http://www.proz.com/translator/26902">Сертифицированный переводчик</a> (Certified PRO) в паре польский-русский на сайте Proz.com – крупнейшем в мире сообществе переводчиков. Накопленный профессиональный опыт позволяет переводить с польского языка как личные документы, так и сложную техническую документацию.&nbsp;Имеется большой опыт перевода специализированных текстов с польского языка, созданы глоссарии терминов по различным тематикам. Выполняю <strong>перевод сайтов и презентаций,&nbsp; </strong>осуществляю локализацию&nbsp;<strong>программного обеспечения</strong>.
						p Также предлагаю <strong>устный перевод с польского </strong>(последовательный, синхронный, шушутаж) на деловых переговорах и семинарах, производственных предприятиях («Филип Моррис Ижора»), международных конференциях и презентациях, тренингах, круглых столах, выставках, двусторонних переговорах на уровне <a href="http://polskij.ru/wp-content/uploads/АСМАП.jpg" target="_blank" rel="noopener">правительственных делегаций России и Польши</a>. Выполнял синхронный перевод на Санкт-Петербургском международном культурном форуме, во время спектакля польского театра «Враг народа» в театре «Балтийский дом».
						p Использую программы Trados Studio 2017, Memsource, memoQ и т.п., повышающие эффективность работы и гарантирующие <strong>единство терминологии</strong>. Поддерживаю&nbsp;постоянные контакты с носителями языка, совершенствуя знание польского языка. В случае сложных технических текстов консультируюсь с экспертами. Имеется опыт переводов для следственных органов и ФСБ России (перевод с польского и на польский материалов уголовных дел, запросов о правовой помощи).
						p
							strong Литературный перевод с польского языка:
							| в издательстве «Речь» в моем переводе с польского языка вышла серия юмористических детективов о детективе Позитивке для старших дошкольников, которую придумал&nbsp;Гжегож Каздепке.&nbsp; Всего за время моей профессиональной деятельности перевел с польского языка 14 книг различной тематики, еще 5&nbsp;– в соавторстве с другими переводчиками.
						p
							strong Как заказать перевод с польского языка на русский?
							| Просто <a title="перевод с польского языка" href="http://polskij.ru/ru/contacts/">напишите мне</a>&nbsp;и узнайте <a title="перевод с польского" href="http://polskij.ru/ru/price/">стоимость перевода</a>, которая вас приятно удивит.
						p
							strong С примерами переводов с польского языка и отзывами клиентов
							| можно ознакомиться на моем профиле на <a title="Переводчик польского на Proz.com" href="http://www.proz.com/translator/26902" target="_blank" rel="noopener">Proz.com</a>.
						p Среди моих клиентов — компании,&nbsp;бюро переводов и частные лица в России и за рубежом: <a title="Александринский театр" href="http://polskij.ru/wp-content/uploads/Письмо-для-Станислава.jpg" target="_blank" rel="noopener">Александринский театр</a>, <a title="Театр Карлсон-Хаус" href=" http://polskij.ru/wp-content/uploads/Карлсон-Хаус.jpg" target="_blank" rel="noopener"> Театр Карлсон-Хаус</a>, «ЭГО Транслейтинг», онлайн-сервис по продаже авиабилетов OneTwoTrip, «Эктако», «Фларус», Janus Worldwide, «Транстех», ABBYY LS/«Трактат», «КейДжиТиСи», «Фонетикс», «Да Винчи», «All Correct», «Экспримо», «Русская переводческая компания», «Прима Виста», ЗАО «ВАГОНМАШ», издательство «Речь», издательство Macha Publishing (проект «Рыбалка. Энциклопедия рыболова»), «Газпром», Exide Technologies, Jakusz, крупнейший производитель крепежа в Польше RAWLPLUG S.A., MOVITECH и многие другие.
						p
							strong
								a(title="тематика переводов с польского" href="http://polskij.ru/ru/services/") Широкая тематика переводов с польского языка — от диплома о высшем образовании до сайта компании

						p
							strong
								em &copy; Станислав Карпенок, переводчик польского языка. Тел. +7921 916-46-41, e-mail:&nbsp;
									a(href="mailto:karpionok@gmail.com") karpionok@gmail.com




		footer
			.wrapper
				.footer-copyright
					p &copy; 2010–2019 Дизайн и разработка&nbsp;—
						a(href="https://shweb.pro/" target="_blank") Studio Shweb
